<!-- navigation -->
<nav class="navbar">
  <div class="container">
    <div class="pages">
      {{#each pages}}
        <a href="/{{this.route}}">
          <button class="link-btn">{{this.button}}</button>
        </a>
      {{/each}}
    </div>
  </div>
</nav>
<div class="container">
  <h3 class="fw-bold mt-5">{{text.title}}</h3>
</div>